body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

  /* background image */
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-seafood-hot-pot-restaurant-food-promotion-image_165854.jpg);
  background-repeat: repeat-x;

  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation */
.pagewrapper {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.ui.secondary.pointing.menu .item {
  font-size: 1.5em;
  font-weight: bold;

  display: flex;
  justify-content: flex-end;
}

.ui.secondary.pointing.menu .active.item {
  color: palevioletred;
  border-bottom-color: pink;
}

i.icon {
  font-size: 4em;
  color: pink;
}

.main {
  width: 80%;
}

h1 {
  color: white;
}

/* Home page */

.main {
  margin: 10px;
}

.boxes {
  color: white;
  display: flex;
}

.box {
  border: 1px solid pink;
  width: 400px;
  margin: 50px;
  margin-left: 5%;
  margin-top: 50px;
  padding: 20px;
}

/* Passport */
.passport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  margin: 10px;
  width: 80%;
}

div.ui.segment {
  /* Stars */
  border: none;
  background-color: transparent;
}

.ui.header {
  color: white;
  letter-spacing: 1px;
}

.restCardCont {
  font-weight: 500;
  font-size: 1.6em;
  border: 1px solid pink;
  width: 400px;
  margin: 30px;
  margin-left: 1%;
  padding: 20px;

  background: rgb(105, 105, 105, 0.3);
}

/* Login  & Sign Up */

form {
  margin: 20px auto;
  display: flex;
}

div.ui.input {
  margin-bottom: 20px;
}

/* Media quereys ( doesn't include passport page YET ) */

@media (max-width: 600px) {
  /* Mobile */
  /* Home page */

  h1 {
    margin: 10px;
  }
  .boxes {
    flex-direction: column;
    margin: 5%;
  }
  .box {
    margin: 10%;
    width: 80%;
  }
  div.ui.pointing.secondary.menu {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  /* Tablet */
  .box {
    margin: 1%;
  }
}
